@charset "utf-8";
/*CSS document*/

.hidden
{
	display: none;
}

#mainHeader
{
    margin: 0 auto;
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

#canFlag
{
    margin-top: 50px;
}

#mainTitle
{
    margin-top: 75px;
    font-size: 70px;
}

.mainContent
{
    align-content: center;
    text-align: center;
    margin-top: 50px;
}

h2
{
    font-size: 40px;
}

p
{
    margin-left: 350px;
    margin-right: 350px;
    font-size: 18px;
    text-align: left;
    text-indent: 15px;
}

#part1
{
    margin-top: 100px;
}

#part2
{
    margin-top: 100px;
    margin-bottom: 100px;
}
